.pagination-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 80%;
}

.employee-table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.employee-table th,
.employee-table td {
  padding: 8px;
  border: 1px solid blue;
}

.pagination-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-buttons button {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

thead{
  background-color: #007bff;
}